.ipynb_checkpoints/
export/
models/
data_vis.svg
Lightning7/
.idea/
build/
secret_config.py
*.egg-info/
CricketY/
EOGVerticalSignal/
ElectricDevices/
EthanolLevel/
MelbournePedestrian/
Plane/
SemgHandSubjectCh2/
analysis/
ACSF1/
CricketX/
CricketZ/
DodgerLoopDay/
EOGHorizontalSignal/
InlineSkate/
SemgHandMovementCh2/
UWaveGestureLibraryX/
UWaveGestureLibraryY/
UWaveGestureLibraryZ/
symbolic_fault_info_sorted_out.py
