rdflib
Owlready2
requests
pandas
numpy
openai
tsai
tslearn
joblib
kneed
scipy
torch
scikit-learn
keras
tensorflow
matplotlib
git+https://github.com/tbohne/nesy_diag_ontology.git@v0.0.3
git+https://github.com/tbohne/oscillogram_classification.git@v0.2.0
